@using SFA.DAS.EmployerRequestApprenticeTraining.Web.Extensions
@using SFA.DAS.EmployerRequestApprenticeTraining.Infrastructure.Configuration
@using SFA.DAS.EmployerRequestApprenticeTraining.Domain.Types
@using SFA.DAS.EmployerRequestApprenticeTraining.Web.Controllers
@model SFA.DAS.EmployerRequestApprenticeTraining.Web.Models.EmployerRequest.CheckYourAnswersEmployerRequestViewModel

@{
    ViewData["Title"] = "Check your answers";
    ViewBag.GaData.Vpv = "/accounts/employerrequests/checkyouranswers";
}
<a asp-route="@EmployerRequestController.EnterTrainingOptionsRouteGet"
   asp-route-hashedAccountId="@Model.HashedAccountId"
   asp-route-requestType="@Model.RequestType"
   asp-route-standardId="@Model.StandardId"
   asp-route-location="@Model.Location" 
   class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
            <p class="govuk-text">
                We’ll share the following details with all training providers. If a training provider can offer you training, we’ll send you their contact details.
            </p>
            <h2 class="govuk-heading-m">
                Request for @Model.StandardTitle (level @Model.StandardLevel)
            </h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" das-highlight-error-for="NumberOfApprentices" error-class="govuk-form-group--error">
                        How many apprentices
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.NumberOfApprentices
                        <p das-validation-for="NumberOfApprentices" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error: </span>
                        </p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" id="how-many-apprentices-change" asp-route="@EmployerRequestController.EnterApprenticesRouteGet"
                           asp-route-hashedAccountId="@Model.HashedAccountId"
                           asp-route-requestType="@Model.RequestType"
                           asp-route-standardId="@Model.StandardId"
                           asp-route-location="@Model.Location"
                           asp-route-backToCheckAnswers="true">
                           Change<span class="govuk-visually-hidden"> how many apprentices</span>
                        </a>
                    </dd>
                    
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" das-highlight-error-for="SingleLocation" error-class="govuk-form-group--error">
                        Apprenticeship locations
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.SingleLocation
                        <p das-validation-for="SingleLocation" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error: </span>
                        </p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" id="how-many-apprentices-change" asp-route="@EmployerRequestController.EnterSingleLocationRouteGet"
                           asp-route-hashedAccountId="@Model.HashedAccountId"
                           asp-route-requestType="@Model.RequestType"
                           asp-route-standardId="@Model.StandardId"
                           asp-route-location="@Model.Location"
                           asp-route-backToCheckAnswers="true">
                            Change<span class="govuk-visually-hidden"> apprenticeship locations</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" das-highlight-error-for="AtApprenticesWorkplace" error-class="govuk-form-group--error">
                        Training options
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.GetTrainingOptions().Count == 1)
                        {
                            @Model.GetTrainingOptions()[0]
                        }
                        else
                        {
                            <ul class="govuk-list govuk-list--bullet">
                                @foreach (var trainingOption in Model.GetTrainingOptions())
                                {
                                    <li>@trainingOption</li>
                                }
                            </ul>
                        }
                        <p das-validation-for="AtApprenticesWorkplace" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error: </span>
                        </p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" id="how-many-apprentices-change" asp-route="@EmployerRequestController.EnterTrainingOptionsRouteGet"
                           asp-route-hashedAccountId="@Model.HashedAccountId"
                           asp-route-requestType="@Model.RequestType"
                           asp-route-standardId="@Model.StandardId"
                           asp-route-location="@Model.Location"
                           asp-route-backToCheckAnswers="true">
                            Change<span class="govuk-visually-hidden"> training options</span>
                        </a>
                    </dd>
                </div>
            </dl>
            <p class="govuk-body">We will not share your contact details with training providers.</p>

            <form asp-route="@EmployerRequestController.CheckYourAnswersRoutePost" method="post">
                @Html.HiddenFor(model => model.HashedAccountId)
                @Html.HiddenFor(model => model.StandardId)
                @Html.HiddenFor(model => model.RequestType)
                @Html.HiddenFor(model => model.Location)
                @Html.HiddenFor(model => model.NumberOfApprentices)
                @Html.HiddenFor(model => model.SingleLocation)
                @Html.HiddenFor(model => model.AtApprenticesWorkplace)
                @Html.HiddenFor(model => model.DayRelease)
                @Html.HiddenFor(model => model.BlockRelease)

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a class="govuk-link" id="cancel" asp-route="@EmployerRequestController.CancelEmployerRequestRouteGet" 
                        asp-route-hashedAccountId="@Model.HashedAccountId"
                        asp-route-requestType="@Model.RequestType"
                        asp-route-standardId="@Model.StandardId"
                        asp-route-location="@Model.Location">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>