@using SFA.DAS.EmployerRequestApprenticeTraining.Web.Extensions
@using SFA.DAS.EmployerRequestApprenticeTraining.Infrastructure.Configuration
@using SFA.DAS.EmployerRequestApprenticeTraining.Domain.Types
@using SFA.DAS.EmployerRequestApprenticeTraining.Web.Controllers
@model SFA.DAS.EmployerRequestApprenticeTraining.Web.Models.EmployerRequest.EnterApprenticesEmployerRequestViewModel

@{
    ViewData["Title"] = "How many apprentices would do this apprenticeship training?";
    ViewBag.GaData.Vpv = "/accounts/employerrequests/enterapprentices";
}

<a asp-route="@Model.BackRoute"
   asp-route-hashedAccountId="@Model.HashedAccountId"
   asp-route-requestType="@Model.RequestType"
   asp-route-standardId="@Model.StandardId"
   asp-route-location="@Model.Location"
   class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummary" />
            <form asp-route="@EmployerRequestController.EnterApprenticesRoutePost" method="post">
                @Html.HiddenFor(model => model.HashedAccountId)
                @Html.HiddenFor(model => model.StandardId)
                @Html.HiddenFor(model => model.RequestType)
                @Html.HiddenFor(model => model.Location)
                @Html.HiddenFor(model => model.BackToCheckAnswers)

                <div class="govuk-form-group" das-highlight-error-for="NumberOfApprentices" error-class="govuk-form-group--error">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="NumberOfApprentices">
                            @ViewData["Title"]
                        </label>
                    </h1>
                    <div id="NumberOfApprentices-hint" class="govuk-hint">
                        You can give us an estimated number
                    </div>
                    <p das-validation-for="NumberOfApprentices" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error: </span>
                    </p>
                    <input class="govuk-input govuk-input--width-4" asp-for="NumberOfApprentices" das-highlight-error-for="NumberOfApprentices" error-class="govuk-input--error" type="text" aria-describedby="NumberOfApprentices-hint NumberOfApprentices-error">
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a class="govuk-link" id="cancel" asp-route="@EmployerRequestController.CancelEmployerRequestRouteGet" 
                        asp-route-hashedAccountId="@Model.HashedAccountId"
                        asp-route-requestType="@Model.RequestType"
                        asp-route-standardId="@Model.StandardId"
                        asp-route-location="@Model.Location">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>