@using SFA.DAS.EmployerRequestApprenticeTraining.Web.Extensions
@using SFA.DAS.EmployerRequestApprenticeTraining.Infrastructure.Configuration
@using SFA.DAS.EmployerRequestApprenticeTraining.Domain.Types
@using SFA.DAS.EmployerRequestApprenticeTraining.Web.Controllers
@model SFA.DAS.EmployerRequestApprenticeTraining.Web.Models.EmployerRequest.OverviewEmployerRequestViewModel

@{
    ViewData["Title"] = "Ask if training providers can run this course";
    ViewBag.GaData.Vpv = "/accounts/employerrequests/overview";
}
<a href="@Model.BackLink" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

            <p class="govuk-text">
                You can use this form to tell us you have apprentices interested in @Model.StandardTitle (level @Model.StandardLevel). We’ll share this with the training providers.
            </p>

            <p class="govuk-text">
                If a training provider can offer you training, we’ll send you their contact details.
            </p>
            <p class="govuk-text">
                You’ll need to tell us how many apprentices would do the training.
            </p>

            <a 
                asp-route="@EmployerRequestController.StartEmployerRequestRouteGet" 
                asp-route-hashedAccountId="@Model.HashedAccountId"
                asp-route-requestType = "@Model.RequestType"
                asp-route-standardId = "@Model.StandardId"
                asp-route-location = "@Model.Location"
                role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
        </div>
    </div>
</main>