@using Microsoft.Extensions.Configuration
@using SFA.DAS.Employer.Shared.UI.Models
@using SFA.DAS.EmployerRequestApprenticeTraining.Web.Authorization
@using SFA.DAS.EmployerRequestApprenticeTraining.Web.Extensions
@using SFA.DAS.EmployerRequestApprenticeTraining.Web.ViewDataKeys
@inject IConfiguration Configuration

@{
    var accountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId] as string;
    ViewBag.HideHeaderBorder = true;
    var cookieBannerModel = new CookieBannerModel { AccountId = accountId };
    var footerModel = new FooterModel { AccountId = accountId, UsePrivacyV2 = true };

    var hideHeader = (bool) ViewData[ViewDataKeys.HideAccountNavigation];
    var hideNavigationLinks = !(bool) ViewData[ViewDataKeys.ShowNav];
}

<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
<head>
    <partial name="_GoogleAnalytics" model="GoogleAnalyticsTag.Head" />
    <meta charset="utf-8" />
    <title>@(ViewData["Title"] ?? "Manage apprenticeships")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1d70b8" />

    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico" />
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8" />
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png" />

    <!--[if !IE 8]><!-->
    <link href="css/main.css" rel="stylesheet" />
    <link href="/css/app.css" rel="stylesheet" no-cdn />
    <!--<![endif]-->

    <meta property="og:image" content="assets/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body">
    <partial name="_GoogleAnalytics" model="GoogleAnalyticsTag.Body" />

    <script>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <partial name="_CookieBanner" model="@cookieBannerModel"></partial>

    <partial name="_Header" model="@accountId" />

    <div class="govuk-phase-banner govuk-width-container">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service.
            </span>
        </p>
    </div>

    <div class="govuk-width-container">
        @RenderBody()
    </div>
    <partial name="_Footer" model="@footerModel" />
    <partial name="_GoogleAnalyticsInfo" />

    @* These javascripts are not included in the project they are loaded from the cdn *@
    <script type="module" src="/libs/govuk-frontend/govuk-frontend.min.js"></script>
    <script type="module" nws-csp-add-nonce="true">
        import {
            initAll
        } from '@Configuration["cdn:url"]/libs/govuk-frontend/govuk-frontend.min.js'
        initAll()
    </script>
    <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/js/das-all.min.js"></script>
    <script src="/js/app.min.js"></script>

    @* This javascript is included in the project it is not loaded from the cdn *@
    <script src="/js/app.js" no-cdn></script>

    <script>
        window.DASFrontend.initAll();
    </script>
</body>

</html>